/* GENERAL */
body{
    width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

a{
    color: #4a4a4a;
}

a:hover{
    color: #00c4a7;
}

/* ICON-STAR */
.icon-star i, .icon-star i:hover ~ i {
    color: #4a4a4a;
    text-shadow: none;
    transition: color 200ms,
    text-shadow 200ms;
    /* This will remove the delay when
       moving the cursor left or right
       within the set of stars. */
    transition-delay: 0;
}

/* This is the style that will be
   applied to all stars and then
   subsequently removed from the stars
   to the right of the one being
   hovered. */
.icon-star:hover i {
    color:#00c4a7;
    text-shadow: #00c4a7 0 0 20px;
}

/* Make the effect apply one star at a
   time. Limiting the selector to when
   .icon-star is hovered removes the effect
   without delay when cursor leaves
   the .icon-star area. */
.icon-star:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.icon-star:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.icon-star:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.icon-star:hover i:nth-child(5) {
    transition-delay: 120ms;
}

/* Miscellaneous styles. */
.icon-star i {
    cursor: pointer;
    font-style: normal;
}

/* HEADER */
.nav_logo{
    margin-right: 80px;
}
.navbar-start{
    width: 95%;
    margin: 0;
}

.navbar-width{
    width: 400px;
}

.nav_size{
    font-size: 20px;
}

.nav_size-panier{
    width: 160px;
}

/* SECTION PRÉSENTATION */
.section_sizing{
    height: 400px;
}
.section_color{
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    text-align: center;
    font-size: 80px;
    color: #368c7f;
    font-weight: bold;
}

/* MAIN */
.main-accueil h3{
    padding-bottom: 12px;
}

.section_position{
    width: 68%;
    height: 450px;
    margin: 0 auto 50px;
}

.item-1{
    width: 250px;
    height: 410px;
}

.card-content{
    height: 199px;
}

.item-2{
    width: 250px;
    height: 410px;
}

.item-3{
    width: 250px;
    height: 410px;
}

.item-4{
    width: 250px;
    height: 410px;
}

.item-5{
    width: 250px;
    height: 410px;
}

.button_size{
    font-size: 25px;
}

.hero.has-carousel .hero-body{
    z-index: -1;
}

.carousel_size{
    height: 600px;
}

.slider-item{
    width: 290px !important;
    height: 410px;
    display: flex;
    justify-content: center;
}

.slider-pagination .slider-page{
    background: #00c4a7;
}

.lien-font{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* MAIN PRODUIT */
.main-produit{
    height: 642px;
}

.section-flex{
    display: flex;
    align-items: center;
    width: 90%;
    height: 640px;
    margin: 0 auto;
}

.section_text-h2{
    margin-bottom: 12px;
}

.figure_img{
    width: 570px;
    height: 640px;
}

.figure_img img{
    height: 640px;
    object-fit: cover;
}

.icon-star-produit{
    font-size: 26px;
}

.recommandation{
    width: 86%;
}

.card-size{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.card-width{
    width: 300px;
}

.section_text{
    width: 840px;
    height: 772px;
}

.section_text h2{
    font-size: 40px;
    font-weight: bold;
}

.section_text p{
    width: 400px;
}

/* PANIER */
.section_panier{
    margin-right: 20px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.section_panier img{
    width: 260px;
    height: 160px;
    float: left;
}

.div_panier-content{
    width: 65%;
    /*height: 366px;*/
    border: #00c4a7 2px solid;
    border-radius: 20px;
    float: left;
    padding-left: 20px;
}

.empty{
    height: 295px;
}

.div_product{
    margin-right: 25px;
}

#quantite{
    position: relative;
    bottom: 18px;
}

.text_width{
    width: 140px;
}

.div_panier-width{
    width: 840px;
}

.div_panier-price{
    position: relative;
    bottom: 8px;
}
.p-float{
    float: left;
}

.info-circle{
    border: 2px solid #00d1b2;
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 6px;
    font-size: 10px;
}

.div_align{
    order: 9;
}

.section-panier_marginbottom{
    margin-bottom: 70px;
}

.button-panier{
    width: 200px;
    margin: 0 auto;
}

.section-panier_total{
    width: 26%;
    height: 300px;
    border-radius: 20px;
    border: #00c4a7 2px solid;
    margin-right: 46px;
}

.divider{
    border: 1px solid #00d1b2;
}

.content-hidden_width{
    width: 34%;
}

.checkboxInput{
    order: -1;
    margin-right: 6px;
}

.radio-flex{
    order: -1;
    margin-right: 2px;
}

/* CONFIRMATION DE COMMANDE */

#orderconfirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #00c4a7 2px solid;
    width: 52%;
    margin: 0 auto 50px;
    padding: 130px 200px;
    border-radius: 20px;
}


/* FOOTER */

.icon-card{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

footer span i:hover{
    color: #00c4a7;
}

/* RESPONSIVE DESKTOP */
@media screen and (min-width: 1024px){

}

/* RESPONSIVE TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1024px){

}

/* RESPONSIVE MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){
    header{
        margin-bottom: 0;
    }

    .navbar-brand{
        align-items: center;
    }

    .section_color{
        padding: 0 22px 0 22px;
    }

    .titre{
        font-size: 60px;
    }

    .main-accueil{
        padding: 0 22px 0 22px;
    }

    .section_position{
        width: 92%;
        margin-left: -12px;
    }

    /* PAGE PRODUIT */
    .main-produit{
        height: auto;
    }

    .section-flex{
        display: block;
        height: auto;
    }

    .figureDiv{
        width: 100%;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
    }

    .figure_img{
        width: 315px;
        height: 369px;
    }

    .figure_img img{
        height: 369px;
    }

    main .section-text{
        padding: 0!important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-produit button{
        margin-bottom: 15px;
    }

    /* PAGE PANIER */

    .section_panier{
        margin-right: 0;
        margin-left: 0;
    }

    main .divContent-justify{
        flex-direction: column;
        align-items: center;
    }

    .div_panier-content{
        width: 94%;
        margin-bottom: 22px;
        padding: 0 12px;
    }

    #basket h1{
        text-align: center;
        font-size: 26px;
    }

    .div_product{
        height: 118px;
    }

    .section-panier_total{
        width: 94%;
        margin-right: 0;
        padding-left: 20px;
    }

    .section_panier img{
        width: 100px;
        height: 115px;
        object-fit: cover;
    }

    #productName{
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }

    .divWidth{
        flex-direction: column;
    }

    .divWidth p{
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .section-panier_marginbottom{
        flex-direction: column;
    }

    .section-panier_marginbottom div p {
        font-size: inherit !important;
    }

    .div_panier-price{
        order: -1;
        position: inherit;
    }

    .div_panier-width{
        width: 0;
        flex-direction: column;
        font-size: 15px;
    }

    .div_align{
        font-size: 10px;
    }

    .info-circle{
        padding: 2px 5px;
        font-size: 6px;
    }

    .div_panier-width p{
        width: 120px;
    }

    .content-hidden_width{
        width: 94%;
        padding-left: 0;
    }


}