.section_sizing{
    height: 400px;
}
.section_position{
    width: 1367px;
    margin: 0 auto;
    height: 560px;
    margin-bottom: 90px;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}

h1{
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h3{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.item-1{
    width: 400px;
    height: 400px;
}

.item-2{
    width: 400px;
    height: 400px;
}

.item-3{
    width: 400px;
    height: 400px;
}

.item-4{
    width: 400px;
    height: 400px;
}

.item-5{
    width: 400px;
    height: 400px;
}

.nav_logo{
    margin-right: 80px;
}
.navbar-start{
    width: 500px;
}
.nav_size{
  font-size: 30px;
}

.nav_size-panier{
    width: 160px;
}

.button_size{
    font-size: 25px;
}

.section_color{
    background-color: #F3E9F1;
    width: 100%;
    height: 531px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.hero.has-carousel .hero-body{
    z-index: -1;
}

.carousel_size{
    height: 600px;
}

.slider-item{
    width: 460px !important;
    display: flex;
    justify-content: center;
}

.slider-pagination .slider-page{
    background: #00c4a7;
}

.icon-card{
    display: flex;
    justify-content: center;
    font-size: 30px;
}