/* GENERAL */
body{
    width: 100%;
    margin: 0 auto;
}

header{
    margin-top: 20px;
    margin-bottom: 40px;
}

h1{
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a{
    color: #4a4a4a;
}

a:hover{
    color: #00c4a7;
}

/* ICON-STAR */
.icon-star i, .icon-star i:hover ~ i {
    color: #4a4a4a;
    text-shadow: none;
    transition: color 200ms,
    text-shadow 200ms;
    /* This will remove the delay when
       moving the cursor left or right
       within the set of stars. */
    transition-delay: 0;
}

/* This is the style that will be
   applied to all stars and then
   subsequently removed from the stars
   to the right of the one being
   hovered. */
.icon-star:hover i {
    color:#00c4a7;
    text-shadow: #00c4a7 0 0 20px;
}

/* Make the effect apply one star at a
   time. Limiting the selector to when
   .icon-star is hovered removes the effect
   without delay when cursor leaves
   the .icon-star area. */
.icon-star:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.icon-star:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.icon-star:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.icon-star:hover i:nth-child(5) {
    transition-delay: 120ms;
}

/* Miscellaneous styles. */
.icon-star i {
    cursor: pointer;
    font-style: normal;
}

/* HEADER */
.nav_logo{
    margin-right: 80px;
}
.navbar-start{
    width: 95%;
    margin: 0;
}

.navbar-width{
    width: 400px;
}

.nav_size{
    font-size: 30px;
}

.nav_size-panier{
    width: 160px;
}

/* SECTION PRÉSENTATION */
.section_sizing{
    height: 400px;
}
.section_color{
    background: url("images/background.jpg");
    background-size: cover;
    background-position: top -427px left 705px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    text-align: center;
    font-size: 104px;
    color: #368c7f;
    font-weight: bold;
}

/* MAIN */
.main-accueil h3{
    padding: 40px 0;
}

.section_position{
    width: 1367px;
    height: 610px;
    margin: 0 auto 90px;
}

.item-1{
    width: 300px;
    height: 300px;
}

.card-content{
   display: flex;
    flex-direction: column;
}

.item-2{
    width: 400px;
    height: 400px;
}

.item-3{
    width: 400px;
    height: 400px;
}

.item-4{
    width: 400px;
    height: 400px;
}

.item-5{
    width: 400px;
    height: 400px;
}

.button_size{
    font-size: 25px;
}

.hero.has-carousel .hero-body{
    z-index: -1;
}

.carousel_size{
    height: 600px;
}

.slider-item{
    width: 460px !important;
    display: flex;
    justify-content: center;
}

.slider-pagination .slider-page{
    background: #00c4a7;
}

.lien-font{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* MAIN PRODUIT */
.main-produit{
    height: 860px;
}

.section-flex{
    display: flex;
    align-items: center;
    height: 771px;
    margin: 0 145px 80px 50px;
}

.section_text-h2{
    margin-bottom: 12px;
}

.figure_img{
    width: 730px;
    height: 772px;
}

.figure_img img{
    height: 772px;
    object-fit: cover;
}

.icon-star-produit{
    font-size: 26px;
}

.recommandation{
    width: 86%;
}

.card-size{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.card-width{
    width: 300px;
}

.section_text{
    width: 840px;
    height: 772px;
}

.section_text h2{
    font-size: 40px;
    font-weight: bold;
}

/* PANIER */
.section_panier{
    margin-right: 100px;
    margin-left: 100px;
}

.section_panier img{
    width: 260px;
    height: 160px;
    float: left;
}

.div_panier-content{
    width: 65%;
    height: 366px;
    border: #00c4a7 2px solid;
    border-radius: 20px;
    float: left;
}

#quantite{
    position: relative;
    bottom: 18px;
}

.div_panier-width{
    width: 840px;
}

.div_panier-price{
    position: relative;
    bottom: 8px;
}
.p-float{
    float: left;
}

.info-circle{
    border: 2px solid #00d1b2;
    border-radius: 50%;
    padding: 4px 7px;
    margin-right: 6px;
    font-size: 10px;
}

.section-panier_marginbottom{
    margin-bottom: 70px;
    width: 840px;
}

.button-panier{
    width: 200px;
    margin: 0 auto;
}

.section-panier_total{
    width: 26%;
    height: 300px;
    border-radius: 20px;
    border: #00c4a7 2px solid;
    margin-right: 115px;
}

.divider{
    border: 1px solid #00d1b2;
}

.content-hidden_width{
    width: 50%;
    margin-bottom: 100px;
}

/* FOOTER */

.icon-card{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

footer span i:hover{
    color: #00c4a7;
}