/* GENERAL */
header{
    margin-top: 20px;
    margin-bottom: 40px;
}

h1{
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a{
    color: #4a4a4a;
}

a:hover{
    color: #00c4a7;
}
/* HEADER */
.nav_logo{
    margin-right: 80px;
}
.navbar-start{
    width: 400px;
}
.nav_size{
    font-size: 30px;
}

.nav_size-panier{
    width: 160px;
}

/* SECTION PRÉSENTATION */
.section_sizing{
    height: 400px;
}
.section_color{
    background: url("images/background.jpg");
    background-size: cover;
    background-position: top -427px left 705px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    text-align: center;
    font-size: 104px;
    color: #368c7f;
    font-weight: bold;
}

/* MAIN */
.main-accueil h3{
    padding: 40px 0;
}

.section_position{
    width: 1367px;
    height: 610px;
    margin: 0 auto 90px;
}

.item-1{
    width: 400px;
    height: 400px;
}

.card-content{
   display: flex;
    flex-direction: column;
}

.item-2{
    width: 400px;
    height: 400px;
}

.item-3{
    width: 400px;
    height: 400px;
}

.item-4{
    width: 400px;
    height: 400px;
}

.item-5{
    width: 400px;
    height: 400px;
}

.button_size{
    font-size: 25px;
}

.hero.has-carousel .hero-body{
    z-index: -1;
}

.carousel_size{
    height: 600px;
}

.slider-item{
    width: 460px !important;
    display: flex;
    justify-content: center;
}

.slider-pagination .slider-page{
    background: #00c4a7;
}
.icon-star i:hover{
    color: #00c4a7;
    cursor: pointer;
}
.lien-font{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* MAIN PRODUIT */
.main-produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1340px;
}

.section-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86%;
    height: 771px;
    margin: 0 150px 80px 150px;
    background: #fff;
}

.figure_img{
    width: 900px;
    height: 772px;
}

.figure_img img{
    height: 772px;
    object-fit: cover;
}

.recommandation{
    width: 86%;
}

.card-size{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.card-width{
    width: 300px;
}

.section_text{
    width: 840px;
    height: 772px;
}

.section_text h2{
    font-size: 40px;
    font-weight: bold;
}

/* FOOTER */

.icon-card{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

footer span i:hover{
    color: #00c4a7;
}